<h1>New user</h1>

<style>
	div {
		margin: 10px 0;
	}
</style>

<%= form_for :user, url: "create_user" do |f| %>
	<%# f.label :first_name %>
	
	<%= f.label "First name" %><br>
	<%= f.text_field :first_name %><br><br>

	<%= f.label "Last name" %><br>
	<%= f.text_field :last_name %><br><br>

	<%= f.label "Age" %><br>
	<%= f.text_field :age %><br><br>

	<%= f.label "Gender" %><br>
	<%= f.radio_button :gender, "F" %>Female
	<%= f.radio_button :gender, "M" %>Male

	<br><br>

	<%= f.label "City" %><br>
	<%= f.text_field :city %><br><br>

	<%# f.submit %>		
	<%= f.submit "Add user" %>

<% end %>
