<h1>New user</h1>

<style>
	.margin_bottom {
		margin: 10px 0;
	}
	.error_msg {
		color: red;
	}
</style>


<% if @user.errors.any? %>
	<p class="error_msg"><%= pluralize(@user.errors.count, "error") %> have occured!</p>

	<ul class="error_msg">
		<% @user.errors.full_messages.each do |message| %>
			<li><%= message %></li>
		<% end %>
	</ul>
<% end %>


<%= form_for :user, url: "create_user" do |f| %>
	<%# f.label :first_name %>

	<div class="margin_bottom">
		<%= f.label "First name" %><br>
		<%= f.text_field :first_name %>
	</div>

	<div class="margin_bottom">
		<%= f.label "Last name" %><br>
		<%= f.text_field :last_name %>
	</div>

	<div class="margin_bottom">
		<%= f.label "Age" %><br>
		<%= f.text_field :age %>
	</div>
	

	<div class="margin_bottom">
		<%= f.label "Gender" %><br>
		<%= f.radio_button :gender, "F" %>Female
		<%= f.radio_button :gender, "M" %>Male
	</div>

	

	<%# f.label "City" %>
	<%# f.text_field :cityname %>

	<%# f.label "Country" %>
	<%# f.text_field :country %>


	<div class="margin_bottom">
		<%= f.label "City" %><br>
		<%= f.collection_select :city_id, City.all, :id, :name, prompt: "Please select" %>
	</div>
	

	<%= f.submit "Add user" %>

<% end %>
