<h1>New user</h1>

<style>
	div {
		margin: 10px 0;
	}
</style>

<%= form_tag "create_user" %>
	
<%= label_tag "First name" %><br>
<%= text_field_tag 'user[first_name]' %><br><br>

<%= label_tag "Last name" %><br>
<%= text_field_tag 'user[last_name]' %><br><br>

<%= label_tag "Age" %><br>
<%= text_field_tag 'user[age]' %><br><br>

<%= label_tag "Address Line 1" %><br>
<%= text_field_tag 'user[addressline_1]' %><br><br>

<%= label_tag "Address Line 2" %><br>
<%= text_field_tag 'user[addressline_2]' %><br><br>

<%= label_tag "City" %><br>
<%= text_field_tag 'user[city]' %><br><br>

<%= label_tag "Zipcode" %><br>
<%= text_field_tag 'user[zipcode]' %><br><br>

<%= submit_tag "Add user" %>