<h1>Show user</h1>

First name: <%= @user.firstname %><br>
Last name: <%= @user.lastname %><br>
Age: <%= @user.age %><br>
Gender: <%= gender_string(@user.gender) %><br>
City: <%= @user.city_name %><br>