<div id="<%= dom_id address %>">
  <p>
    <strong>Add line1:</strong>
    <%= address.add_line1 %>
  </p>

  <p>
    <strong>Add line2:</strong>
    <%= address.add_line2 %>
  </p>

  <p>
    <strong>City:</strong>
    <%= address.city %>
  </p>

  <p>
    <strong>Zipcode:</strong>
    <%= address.zipcode %>
  </p>

</div>
