<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Sample App" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <h1>APPLICATION LAYOUT</h1>
    <%= current_page?(controller: :users, action: :new_user) %>
    <%# link_to_unless_current "New user", controller: :users, action: :new_user %>

    <%# relative url %>
    <%# link_to_unless_current "New user", users_new_user_path %>
    <%# link_to_unless_current "List users", controller: :users, action: :list_users %>

    <%# absolute url means including server name  %>
    <%= link_to_unless_current "List users", users_list_users_url %>

    <%= highlight('You searched for: rails', 'rails') %>

    <% if current_user? %>
      <%= link_to_unless_current "New user", users_new_user_path %>
      <%= link_to_unless_current "Products", products_path %>
      <%= link_to "Logout", logout_url %>
    <% else %>
      <%= link_to_unless_current "Login", login_url %>
    <% end %>

    <%= yield %>
  </body>
</html>
